:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}
.btn {
  display: inline-block;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.badge {
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 0.9rem;
  text-align: center;
  margin: 0.3rem;
  border-radius: 5px;
}

.btn-dark,
.badge-dark {
  background: var(--dark-color);
  color: #fff;
}
.btn-light,
.badge-light {
  background: var(--light-color);
  color: #333;
}
.text-center {
  text-align: center;
}
.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}
.round-img {
  border-radius: 50%;
}
.my-1 {
  margin: 1rem 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.badge-primary {
  background: var(--primary-color);
  color: #fff;
}
.badge-success {
  background: var(--success-color);
  color: #fff;
}
